<ul class="set">
    <li data-ng-click='synthCtrl.playSound("lowf")' data-ng-keypress='synthCtrl.typeSound($event)' class="white b"></li>
    <li data-ng-click='synthCtrl.playSound("lowfs")' class="black as"></li>
    <li data-ng-click='synthCtrl.playSound("lowg")' class="white a"></li>
    <li data-ng-click='synthCtrl.playSound("lowgs")' class="black gs"></li>
    <li data-ng-click='synthCtrl.playSound("lowa")' class="white g"></li>
    <li data-ng-click='synthCtrl.playSound("lowas")' class="black fs"></li>
    <li data-ng-click='synthCtrl.playSound("lowb")' class="white f"></li>
    <li data-ng-click='synthCtrl.playSound("lowc")' class="white e"></li>
    <li data-ng-click='synthCtrl.playSound("lowcs")' class="black ds"></li>
    <li data-ng-click='synthCtrl.playSound("lowd")' class="white d"></li>
    <li data-ng-click='synthCtrl.playSound("lowds")' class="black cs"></li>
    <li data-ng-click='synthCtrl.playSound("lowe")' class="white c"></li>
    <li data-ng-click='synthCtrl.playSound("highf")' class="white b"></li>
    <li data-ng-click='synthCtrl.playSound("highfs")' class="black as"></li>
    <li data-ng-click='synthCtrl.playSound("highg")' class="white a"></li>
    <li data-ng-click='synthCtrl.playSound("highgs")' class="black gs"></li>
    <li data-ng-click='synthCtrl.playSound("higha")' class="white g"></li>
    <li data-ng-click='synthCtrl.playSound("highas")' class="black fs"></li>
    <li data-ng-click='synthCtrl.playSound("highb")' class="white f"></li>
    <li data-ng-click='synthCtrl.playSound("highc")' class="white e"></li>
    <li data-ng-click='synthCtrl.playSound("highcs")' class="black ds"></li>
    <li data-ng-click='synthCtrl.playSound("highd")' class="white d"></li>
    <li data-ng-click='synthCtrl.playSound("highds")' class="black cs"></li>
    <li data-ng-click='synthCtrl.playSound("highe")' class="white c"></li>
</ul>
<input ng-keyup="event=$event">
<p>event keyCode: {{ event.keyCode }}</p>
<p>event altKey: {{ event.altKey }}</p>