@import url(https://fonts.googleapis.com/css?family=Lobster:400,900,700);

$shadow: 1px 1px 1px 1px #888888;

html body {
	font-family: 'Lobster', sans-serif;
}

h1 {
	font-weight: 900;
}

h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.title {
	text-align: center;
	font-size: 10em;
	text-shadow:  0px 6px 0px #F5F5F8;
	color: #2D2F37;
	margin-top: 0.5em;
}