@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700);

$shadow: 1px 1px 1px 1px #888888;

html body {
	font-family: 'Roboto', sans-serif;
	background-color: #ffffff;
}

h1 {
	font-weight: 900;
}

h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.keyboard {
	background-color: #8E9BC1;
	position: absolute;
	width: 90vw;
	left: 5vw;
	height: 50vh;
	top: 10vh;
	z-index: -1;
	.controls {
		background-color: transparent;
		position: absolute;
		z-index: 1;
		left: -6vw;
		width: 90vw;
		height: 20vh;
  		border-left: 100px solid transparent;
  		border-right: 100px solid transparent;
  		border-bottom: 100px solid transparent;
 		border-top: 200px solid #69738F;
	}
}

.keyboard-volume {
	background-color: transparent;
	position: absolute;
	width: 78vw;
	left: 5vw;
	height: 40vh;
	top: 60vh;
  	border-left: 100px solid transparent;
  	border-right: 100px solid transparent;
  	border-bottom: 100px solid transparent;
 	border-top: 45px solid #69738F;
}

.key {
	position: absolute;
	background-color: #DFA0A0;
	width: 9vw;
	height: 30vh;
	z-index:0;
}

.key-bottom {
	position: absolute;
	background-color: #DFA0A0;
	width: 9vw;
	height: 30vh;
	z-index:0;
}

.key-right {
	position: absolute;
	background-color: #DFA0A0;
	width: 9vw;
	height: 30vh;
	z-index:0;
}

/** Individual keys */

#one {
	top: 20vh;
	left: 5vw;
}

#two {
	top: -10vh;
	left: 15vw;
}

#three {
	top: -40vh;
	left: 25vw;
}

#four {
	top: -70vh;
	left: 35vw;
}

#five {
	top: -100vh;
	left: 45vw;
}

#six {
	top: -130vh;
	left: 55vw;
}

#seven {
	top: -160vh;
	left: 65vw;
}

#eight {
	top: -190vh;
	left: 75vw;
}